<div class="panel standard-panel" ng-class="{'tile-s': !tile.expanded}" style="border: 2px solid black">
    <simpleDemo></simpleDemo>
    <div id="react-unique-id"></div>
    <img src="jspm/assets/kukaaustin/frameworks-example/star.svg" style="width: 32px; margin: auto; display: block"/>
</div>
